#footer
  %footer 
    .row
      %div
        / = link_to(image_tag("logo-footer.svg", :alt => "Bruce McElroy Logo", :rel => "logo"), root_path)
        = image_tag("logo-footer.svg", :alt => "Bruce McElroy Logo", :rel => "logo")
        %p My goal is to provide you with a service as a front end web developer that exceeds your expectations in a timely fashion. 
        %a{:href => "https://www.facebook.com/bruce.a.mcelroy", :target => "_blank", :title => "Facebook-social"}
          %i.icon-facebook-sign
        %a{:href => "https://github.com/visualbam", :target => "_blank", :title => "Facebook-social"}
          %i.icon-github-sign
        %a{:href => "http://www.linkedin.com/in/brucemcelroy", :target => "_blank", :title => "Facebook-social"}
          %i.icon-linkedin-sign
        %a{:href => "http://instagram.com/visualbam", :target => "_blank", :title => "Facebook-social"}
          %i.icon-twitter-sign
      %div
        %h6 Web design blogs for inspiriation —
        %a{:href => "http://www.webdesignerdepot.com", :target => "_blank"} Web Designer Depot
        %a{:href => "http://abduzeedo.com/", :target => "_blank"} Abduzeedo
        %a{:href => "http://www.webdesignerdepot.com", :target => "_blank"} webdesignerdepot.com
        %a{:href => "http://www.webdesignerdepot.com", :target => "_blank"} webdesignerdepot.com
      %div
        %h6 Tell me what you think!
        %p The suggestion form will be here soon!
/ .copyright
/   .row
/     %p © 2013 Bruce McElroy,   All Rights Reserved  