%header 
  %a.menu-link{:href => "#menu"} Menu
  
  %nav#menu.wrapper{:role => "navigation"}
    = image_tag("logo.svg", :alt => "visualbam", :rel => "logo")
    %ul
      %li
        %a{:href => "#"} Resume
      %li
        %a{:href => "#"} Portfolio
      %li
        %a{:href => "#"} Blog
      %li
        %a{:href => "#"} Contact