#resume
  %section
    .row
      %h1 Summary
      %p
        I am a front end developer by day... and a front end developer by night. My profession is my passion and way of life. I do not consider what I do a job. I continue working on personal projects after my normal work day. I strive to be challenged and am very self motivated. I am currently learning Ruby on Rails and have experience in most current frameworks including bootstrap, foundation and the semantic grid system. I feel obligated to stay up-to-date on ALL of the latest design and development trends on the internet to effectively keep my projects fresh and future proof. My goal is to be an asset to your company and wear multiple hats and help streamline projects.
      %h4
        Skills and Qualifications
      %ul
        %li Understanding of mobile development with a focus on responsive web design and mobile first approach.
        %li Excellent understanding of designing user experiences and interfaces with a passion for usability and accessibility.
        %li Mastery of the Photoshop, Illustrator and Indesign as well as typography.
        %li Proficient with latest W3C standards, HTML5 and CSS3.
        %li Jr. Ruby on Rails skillsets working with Ruby 1.93 and Rails 3. Also experience using Ruby 2 and Rails 4.
        %li Working experience using Foundation, Bootstrap and The Semantic Grid System.
  %section
    .row
      %h1 Experience
      %div
        %h2 Front End Web Designer
        %h3 @ PPG Industries
        %span August 2012 – Pittsburgh Area
        %ul
          %li Update and maintain corporate websites
          %li Web development using Visualstudio .NET/Azure
          %li Email marketing, design and development (responsive)
          %li Project management using Sharepoint/atTask
      %div
        %h2 Front End Web Designer
        %h3 @ Machovy.com
        %span August 2012 – Present | Pittsburgh PA
        %ul
          %li Brand Development and identity
          %li Website traffic growth and marketing
          %li Wireframe and content
          %li Website UI/Design
      %div
        %h2 Front End Web Developer / Graphic Designer
        %h3 @ Kolano Design
        %span August 2011 – August 2012 | Pittsburgh Area
        %ul
          %li Designed print material &amp; collateral
          %li Wordpress website development / technical support
          %li Signage Design
          %li Photography
      %div
        %h2 Graphic Design Intern
        %h3 @ Whirl Magazine
        %span April 2011 – July 2011 | Pittsburgh Area
        %ul
          %li Designed magazine ads and 16 page spread for Pittsburgh's 50 Finest event
          %li Maintained WHIRL.com articles via wordpress
      %div
        %h2 Visual Communications Assistant
        %h3 @ Pittsburgh Technical Institute
        %span March 2010 – July 2011 | Oakdale PA
        %ul
          %li Designed posters, displays and signage for student activities
          %li Created certificates, produced event directories and photographed school events

