// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Colors Settings
$primaryColor: #35b9ff !default;
$secondaryColor: #444445 !default;

$alertColor: #c60f13 !default;
$successColor: #5da423 !default;
$txtColor: #222 !default;
$highlightColor: #ffff99 !default;
$black: #000 !default;
$white: #fff !default;
$shinyEdge: rgba(#fff, .5) !default;
$darkEdge: rgba(#000, .2) !default;

$darkblue:rgb(68, 68, 68);
$blue:rgb(53, 185, 255);
$lightblue:rgb(162, 227, 255);
$beige:rgb(246, 245, 240);
$grey:#979797;
$lightGrey:#fbfbfb !default;
$orange:rgb(229, 144, 26);

// Navigation
$headerHeight:auto;


// Font Settings
$fontSmoothing: antialiased;
$headerFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$headerFontWeight: normal !default;
$headerFontStyle: normal !default;
$headerFontColor: #434343 !default;
$bodyFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$bodyFontWeight: normal !default;
$bodyFontStyle: normal !default;
$bodyFontColor: $txtColor !default;

// Media Queries
$largeScreen: emCalc(768px) !default;
$smallScreen: emCalc(1px) !default;
$smallBreakPoint: "only screen and (min-width:"#{$smallScreen}")" !default;
$largeBreakPoint: "only screen and (min-width:"#{$largeScreen}")" !default;

// Text Direction Settings
$textDirection: ltr !default; // Controls default global text direction, 'rtl' or 'ltr'
$defaultFloat: left !default; // Change this to 'right' for right-to-left languages
$defaultOpposite: right !default; // Change this to 'left' for right-to-left languages

@if $textDirection == ltr {
  $defaultFloat: left;
  $defaultOpposite: right;
} @else {
  $defaultFloat: right;
  $defaultOpposite: left;
}

// Button Settings
$buttonRadius: 3px !default;
$btnBase: 10px !default;

$tinyBtnBase: $btnBase - 5 !default;
$smallBtnBase: $btnBase - 3 !default;
$largeBtnBase: $btnBase + 5 !default;

$btnBasePadding: $btnBase ($btnBase * 2) ($btnBase + 1);
$btnShinyEdge: 0 1px 0 $shinyEdge inset;
$btnDarkEdge: 0 1px 0 $darkEdge inset;
$btnBorderWidth: 1px;
$btnBorderStyle: solid;

// UI Settings
$thumbRadius: 3px !default;
$progBarHeight: 25px !default;
$progBarBorderColor: darken(#fff, 20%) !default;
$progBarBorderSize: 1px !default;
$progBarPad: 2px !default;
$linkListBottomMargin: 17px -22px !default;
$tableBorderRadius: 3px !default;

// Tooltip Settings
$hasTipBorderBottom: dotted 1px #ccc !default;
$hasTipFontWeight: bold !default;
$hasTipFontColor: #333 !default;
$hasTipBorderBottomHover: dotted 1px darken($primaryColor, 20%) !default;
$hasTipFontColorHover: $primaryColor !default;
$tooltipBackgroundColor: #000 !default;
$tooltipBackgroundOpacity: 0.85 !default;
$tooltipFontSize: 12px !default;
$tooltipFontWeight: bold !default;
$tooltipFontColor: #fff !default;
$tapToCloseFontSize: 10 !default;
$tapToCloseFontWeight: normal !default;
$tapToCloseFontColor: #888 !default;
$tooltipFontSizeScreenSm: 14 !default;
$tooltipBgOpacityScreenSm: 0.85 !default;
$tooltipBorderRadius: 4px !default;


// Clearing Settings
$clearingBg: rgba(0,0,0,0.8) !default;
$clearingOldBrowserBg: rgb(0,0,0) !default;
$clearingCaptionBg: rgba(0,0,0,0.7) !default;
$clearingCaptionOldBrowserBg: rgb(0,0,0) !default;
$clearingCaptionFontColor: #fff !default;
$clearingCloseColor: #fff !default;
$clearingArrowColor: #fff !default;
$clearingArrowSize: 16px !default;
$clearingCarouselBg: rgba(0,0,0,0.75) !default;
$clearingCarouselOldBrowserBg: rgb(0,0,0) !default;
$clearingCarouselHeight: 150px !default;
$clearingActiveImgHeight: 75% !default;
$clearingCarouselThumbWidth: 175px;
$clearingCarouselThumbActiveBorder: 4px solid rgb(255,255,255) !default;
$clearingImgBg: rgba(0,0,0,0.75) !default;
$clearingImgOldBrowserBg: rgb(0,0,0) !default;