#articlepage
  %section#sidebar
    %input{:placeholder => "Search ... This doesn't work yet", :type => "text"}/
    %hr
    %ul
      %li
        %a{:href => '#'} Recent
      %li
        %a{:href => '#'}Featured
  %section#content
    %article
      %h1 New article
      = render 'form'
      %br
      = link_to 'Back', articles_path



      
