// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Global Styles */
body, html {
  background:$grey;
}

/* Basic typography */
h1, h2, h3, h4, h5, h6, a {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0.05em;
  color: #3b4249;
}
h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  color: #3b4249;
}

/* Header */
h1 {
  //text-indent: -9999px; /*Uncomment this line if you're replacing the text with a logo. */
  padding-right: .75em;
  letter-spacing: -1px;
}

h4 {
  font: italic 1.2em/1.25 'Droid Serif', serif;
  margin-bottom: 1em;
  margin-top: -1.25em;
  color: $blue;
}


header {
  position:relative;
  z-index: 5;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
  margin-bottom: 4em;
}

nav {  
  height: 5.5em;  
  width: 100%;  
  background: white;  
  font-size: 0.75em;  
  position: relative;  
  border-bottom: 2px solid #efefef; 
  z-index: 15;
  a {
    color: $blue;  
    display: inline-block;  
    width: 10em;  
    text-align: center;  
    text-decoration: none;  
    line-height: 5.5em; 
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    &:hover, &:active {
      background-color: $lightblue;
      color:white;
    }
  }
  ul {  
    padding: 0; 
    margin: 0;
    float: right; 
    height: 5.5em;
    li {
      display: inline;  
      float: left;
      a {
        border-left: 1px solid #efefef;  
        box-sizing:border-box;  
        -moz-box-sizing:border-box;  
        -webkit-box-sizing:border-box;
      }
      &:last-child a {border-right: 0;}
    }  
  }
  #pull {display:none;} 
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.colorBar {
  opacity: 0;
  position:relative;
  // left: -10px;
  width: 100%!important;
  margin-top: 0;
  z-index: 1;
  
  -webkit-animation:fadeIn 1s ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn 1s ease-in 1;
  animation:fadeIn 1s ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}



.article-excerpt {

  h2 {
    margin:0;
    a {
      font-weight: light;
      &:hover {
        color:$lightblue;
      }
    }
  }

  p {
    color:#777!important;
    letter-spacing: 0.5px;
    line-height: 1.5em; font-weight:100;
  }

  article {
    @include column(8);
    background:white;
    border-bottom: 1px solid #efefef;
    padding:1.5em;
    margin:0!important;
  }

  aside {
    @include column(4);
  }

  .image {
    @include column(5); 
    background:$grey;
    float: left;
    display: inline-block;
    margin:0;
    overflow: hidden;
    height: 200px;
    img {
      width:200%;
      -webkit-transition: all .2s ease-in-out;
      &:hover { -webkit-transform: scale(1.1); }
    }
  }

  .content {
    @include column(7); 
    float: right;
    padding:0.75em 0 0 0;
    .admin {display:none;}
    p {
      max-height: 6em;
      overflow: hidden;
    }
  }
}

footer {
  margin-top: 2em;
  padding:20px 0;
  color: white;
  // background:rgb(46,54,57);
}

img[rel="logo"] {
  position: absolute;
  top: 50%;
  right: 0;
  left: 2em;
  height: 100%;
  width:14rem;
  margin-top: -2.3rem!important;
}






