// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/* Global Styles */
body, html {
  background:$grey;
}

/* Basic typography */
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto,arial,sans-serif;
  color: $darkblue;
}
h2, h3, h4, h5, h6 {
  font-family: Roboto,arial,sans-serif;
  font-weight: normal;
  color: $darkblue;
}

/* Header */
h1 {
  //text-indent: -9999px; /*Uncomment this line if you're replacing the text with a logo. */
  padding-right: .75em;
  letter-spacing: -1px;
}

h4 {
  font: italic 1.2em/1.25 'Droid Serif', serif;
  margin-bottom: 1em;
  margin-top: -1.25em;
  color: $blue;
}


header {
  position:relative;
  // background: #2e3639;
  background:white;
  height:6rem;
  // box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
  margin-bottom: 2em;
}
.article-excerpt {

  h2 {
    margin:0;
  }

  p {
    color:#666;
    letter-spacing: 0.5px;
    line-height: 1.5em;
  }

  article {
    @include column(8);
    background:white;
    border-bottom: 1px solid #efefef;
    padding:1.5em;
    margin:0!important;
  }

  aside {
    @include column(4);
  }

  .image {
    @include column(5); 
    background:$grey;
    height: 200px;
    float: left;
    display: inline-block;
    margin:0;
  }

  .content {
    @include column(7); 
    float: right;
  }
}

footer {
  margin-top: 2em;
  padding:20px 0;
  color: white;
  background:rgb(46,54,57);
}

nav {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 100%;
  margin-top: -3.025rem !important;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    height: 100%;
    li {
      float: left;
      height: 100%;
    }
  }

  a {
    height: 100%;
    padding:2.25rem 35px 8px 35px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    font-size:0.85em;
    color: $blue;
    font-family:Roboto,arial,sans-serif;
    &:hover, &:visited {
      color: $blue;
    }
    &:hover {
      text-decoration: underline;
      background:$darkblue;
      color: white;
      text-decoration: none;
    }
  }
}

img[rel="logo"] {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 100%;
  width:12rem;
  margin-top: -3.25rem!important;
}






