// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Global Styles */
body, html {
  background:$grey;
}

/* Basic typography */
h1, h2, h3, h4, h5, h6, a {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0.05em;
  color: #3b4249;
}
h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  color: #3b4249;
}

/* Header */
h1 {
  //text-indent: -9999px; /*Uncomment this line if you're replacing the text with a logo. */
  padding-right: .75em;
  letter-spacing: -1px;
}

h4 {
  font: italic 1.2em/1.25 'Droid Serif', serif;
  margin-bottom: 1em;
  margin-top: -1.25em;
  color: $blue;
}


header {
  position:relative;
  z-index: 5;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
  margin-bottom: 4em;
}

nav {  
  height: 5.5em;  
  width: 100%;  
  background: white;  
  font-size: 0.75em;  
  position: relative;  
  border-bottom: 2px solid #efefef; 
  z-index: 15;
  a {
    color: $darkblue;  
    display: inline-block;  
    width: 10em;  
    text-align: center;  
    text-decoration: none;  
    line-height: 5.5em; 
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    &:hover, &:active {
      background-color: $lightblue;
      color:white;
    }
  }
  ul {  
    padding: 0; 
    margin: 0;
    float: right; 
    height: 5.5em;
    li {
      display: inline;  
      float: left;
      a {
        border-left: 1px solid #efefef;  
        box-sizing:border-box;  
        -moz-box-sizing:border-box;  
        -webkit-box-sizing:border-box;
      }
      &:last-child a {border-right: 0;}
    }  
  }
  #pull {display:none;} 
}






@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.colorBar {
  opacity: 0;
  position:relative;
  // left: -10px;
  width: 100%!important;
  margin-top: 0;
  z-index: 1;
  
  -webkit-animation:fadeIn 1s ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn 1s ease-in 1;
  animation:fadeIn 1s ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}


  section {
    @include column(12);
    background:white;
    border-bottom: 1px solid #efefef;
    padding:1.5em;
    margin:0!important;
  }






.portfolio-page {
  .thumbnail {
    @include column(4);
    overflow: hidden;
    height: 14em;
    margin-bottom: 1.5em;
    img {
      width:200%;
      -webkit-transition: all .2s ease-in-out;
      &:hover { -webkit-transform: scale(1.1); }
    }
  }
}





.article-page {

  h2 {
    margin:0;
    a {
      font-weight: light;
      &:hover {
        color:$lightblue;
      }
    }
  }

  p {
    color:#777!important;
    letter-spacing: 0.5px;
    line-height: 1.5em; font-weight:100;
  }

  article {
    @include column(8);
    background:white;
    border-bottom: 1px solid #efefef;
    padding:1.5em;
    margin:0!important;
  }
  section {
    @include column(12);
    background:white;
    border-bottom: 1px solid #efefef;
    padding:0!important;
    margin:0!important;
  }

  aside {
    @include column(4);
  }

  .image {
    @include column(5); 
    background:$grey;
    float: left;
    display: inline-block;
    margin:0;
    overflow: hidden;
    height: 200px;
    img {
      width:200%;
      -webkit-transition: all .2s ease-in-out;
      &:hover { -webkit-transform: scale(1.1); }
    }
  }

  .content {
    @include column(7); 
    float: right;
    padding:0.75em 0 0 0;
    .admin {display:none;}
    p {
      max-height: 6em;
      overflow: hidden;
    }
  }
}

footer {
  margin-top: 2em;
  padding:20px 0;
  color: white;
  // background:rgb(46,54,57);
}

img[rel="logo"] {
  position: absolute;
  top: 50%;
  right: 0;
  left: 2em;
  height: 100%;
  width:14rem;
  margin-top: -2.3rem!important;
}



// preloader
.spinner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(spinner.gif) 50% 50% no-repeat #000000;
}


















@import url(http://weloveiconfonts.com/api/?family=entypo);

/*
================
The Icon-object™
================

The Icon-Object™ that holds the unicode entities for our icons, so we can reference them by name instead of looking up the hex code every time we need one.
*/

$icons: ('save' '\1F4BE'),
        ('delete' '\12as'),
        ('fb' '\F30E'),
        ('twitter' '\F309'),
        ('bolt' '\26A1'),
        ('danger' '\26A0'),
        ('tick' '\2713'),
        ('email' '\2709');
;

/*
Color variables, just to make stuff easier to read
*/
$red: rgb(235, 80, 66);
$yellow: rgb(255, 255, 95);
$green: rgb(180, 255, 92);
$fb-blue: #3B5998;
$twitter-blue: #4099FF;

/*
=======================
The Button Mixin.======
=======================

=It takes 3 arguments:=
- the background-color ($bg),
in our case we will pass it the color vars we defined above.

- the icon ($icon),
takes one of the named icons from the Icon-Object™

- the icon position ($iconPosition)
Vald values are 'left' and 'right'

=And does fancy stuff=
1. Figure out the lightness of the passed background-color via the lightness() function and set either a dark or a light text color.

2. Loop over the Icon-Object™ until the name matches the passed $icon parameter and then

  2.1 If $iconPosition == right select the :after element and set the corresponding unicode entity as the 'content' value. 
*/

@mixin button($bg, $icon:none, $iconPosition: right){
  $color: black;
  padding: 1.2em 2.3em;
  /*
  Setting the color based on the background, as described above (1)
  */ 
  @if lightness($bg) > 68% {
    $color: desaturate(darken($bg, 35), 70);
    &:hover, &:focus {
      background: darken($bg, 5);
      color: darken($color, 5);
    }
  }
  @else {
    $color: lighten($bg, 35);
    &:hover, &:focus {
      background: darken($bg, 5);
      color: lighten($color, 5);
    }
  }
  
  /*
  Adding the icons, see (2)
  */
  @each $thing in $icons{
    @if nth($thing, 1) == $icon {
      @if $iconPosition == right {  
        padding-right: 3.5em;   
        &:after {
           content: nth($thing, 2);
           right: 1.5em;
        }
      }
       
      @if $iconPosition == left {  
        padding-left: 3.5em;     
        &:before {
           content: nth($thing, 2);
           left: 1.5em;
        }
      }
    }
  }
  
  color: $color;
  display: inline-block;
  background: $bg;
  @include transition(.3s);
  font:{
    family: sans-serif;
    weight: 800;
    size: .8em;
  }
  text:{
    transform: uppercase;
    decoration: none;
  }
  border-radius: .7em;
  position: relative;
      
  &:before, &:after{
    display: inline-block;
    font-family: entypo;
    position: absolute;    
  }

  &:active {
    @include transform(scale(.92));
  }
  &:hover, &:focus {
    border-radius: .5em;
    box-shadow: 0 0 0 5px lighten($bg, 20);
  }
}

/*
Calling the Mixin for the different buttons
*/
.danger  { @include button($red, 'danger')   ;}
.signup  { @include button($blue, 'tick', left); a {color:white;}}
.save    { @include button($green,'save', right);}
.fb      { @include button($fb-blue, 'fb', left); }
.twitter { @include button($twitter-blue, 'twitter', left); }
.power { @include button($yellow, 'bolt', right); }




