.brunner-main {
  background: url('brunner/main.png') 50% 0 no-repeat fixed;
  background-size: cover;
  height: 575px;
  .row {
    padding: 4rem 0;
  }
  .dont-know {
    position: relative;
  }
  h4 {
    border-top: 1px solid white;
    padding: 1rem 1rem 0 0;
    margin-top: 2rem;
    color: white;
    span {
      color: $primary-color;
    }
  }
  button {
    position: absolute;
    bottom: 5rem;
    right: 0;
  }
  a {
    background: $primary-color;
    color: #fff;
    cursor: pointer;
  }
  a.translate { 
    padding: 1rem 1.5rem 1rem 2.5rem;
    position: absolute;
    bottom: 6rem;
    right: 0;
    @media only screen and (max-width: 40em) {
      text-align: center;
    }
  }
  a.translate:before {
    @media only screen and (max-width: 40em) {
      position: relative;
    }
    content: "";
    position: absolute;
    display: block;
    background: $primary-color;
    width: 4rem;
    height: 100%;
    top: 0;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    left: -4rem;
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    transform: skewX(-45deg);
    z-index: 1;
  }
}

.main section.description {
  padding: 0;
  ul li {
    padding: 0;
  }
  [class*="block-grid-"] {
    margin: 0;
  }
}

.employee {
  background: white;
  padding: 1.5rem;
  button, input, a {
    margin: 0;
  }
}

span.name-title {
  display: block;
  background: $secondary-color;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-size: rem-calc(11);
}
ul.names {
  list-style-type: none;
  margin: 0;
  padding: 0;
  counter-reset: li;
  background: white;
  li {
    padding: 10px 15px 10px 40px;
    border-bottom: 1px solid #ddd;
    position: relative;
    &:before {
      content:counter(li); /* Use the counter as content */
      counter-increment:li; /* Increment the counter by 1 */
      position:absolute;
      top: 0;
      left: 0;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      background: #f2f2f2;
      border-right: 1px solid #ddd;
      margin: 0;
      padding:10px;
      font-size: 11px;
      height: 100%;
      color:#999;
      text-align: center;
    }
    &:hover {
      background: #efefef;
      transition: all 0.15s ease-in-out;
    }
  }
}

.description {
  button, a, input {
    margin: 0;
  }
}

.control-btn {
  background: #dfdfdf;
  &:hover {
    background: red;
  }
}
.save-btn {
  background: #cfcfcf;
  &:hover {
    background: #2ecc71;
  }
}