@import "foundation_and_overrides";

// Partials
@import "partials/header";
@import "partials/footer";
@import "partials/resume";


.main {
  background: $silver;
  section {
    padding: 2rem 0;
  }
}

.supporticons {
  img {
    margin-bottom: 1rem;
    width: 25%;
  }
}

section.support {
  background: $secondary-color;
  padding-top: 0;
  .tabs {
    display: flex;
    li {
      flex: 1;
      display: block;
      text-align: center;
    }
  }
  .tab-title.active a:focus {
    outline: none;
  }
}


.intro {
  background: $primary-color;
  h2 {
    font-weight: 100;
    color: white;
    line-height: 1.25;
    span {
      font-weight: bold;
    }
  }
  p {
    color: darken($primary-color, 30%);
  }
  .line {
    border: 1px solid white;
    margin-right: 1rem;
    &:hover {
      border: 1px solid $primary-color;
    }
  }
}

// Forms
.ember-text-area {
  min-height: 100px;
}

label {
  font-weight: bold;
}