@import "foundation_and_overrides";

// Partials
@import "partials/header";
@import "partials/footer";
@import "partials/resume";


.main {
  background: $silver;
  section {
    padding: 2rem 0;
  }
}

.supporticons {
  img {
    margin-bottom: 1rem;
    width: 25%;
  }
}

.top-bar-section ul li > a {
  @media only screen and (max-width: 40em) {
    color: white;
    text-align: center;
  }
}

section.support {
  background: $secondary-color;
  padding: 0;
  h2  {
    margin-top: 1rem;
  }
  h2, p {
    color: #5e6264;
  }
  img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  .tabs-content {
    margin: 0;
    padding: 2rem;
  }
  .tabs li {
    display: block;
    text-align: center;
    text-transform: uppercase;
    width: 33.33333%;
    a {
      font-size: rem-calc(11);
    }
  }
  .tab-title.active a:focus {
    outline: none;
  }
  .panel {
    transition: all 0.5s ease-in-out;
    &:hover {
      background: $primary-color;
      border: $primary-color;
    }
    img {
      display: block;
      margin: 0 auto 1rem;
      width: 50%;
    }
  }
}


.intro {
  background: $primary-color;
  h2 {
    font-weight: 100;
    color: white;
    line-height: 1.25;
    span {
      font-weight: bold;
    }
  }
  a {
    color: white;
  }
  p {
    color: darken($primary-color, 30%);
  }
  .line {
    border: 1px solid white;
    margin-right: 1rem;
    &:hover {
      border: 1px solid $primary-color;
    }
  }
}

// Forms
.ember-text-area {
  min-height: 100px;
}

label {
  font-weight: bold;
}